<div class="container">
    <div class="container col-md-6 col-sm-8 col-xs-4 col-lg-6">
        <div class="form-group">
            <h3 class="order-details-title">Order Details</h3>
            <select class="form-control" id="listing" name="listing">
              <option value>Choose a product</option>
              <option value>op1</option>
              <option value>op2</option>
              <option value>op3</option>
            </select>
        </div>
    </div>

    <div class="container col-md-6 col-sm-8 col-xs-4 col-lg-6">
        <h3 class="delivery-details-title">Add delivery details</h3>
        <form class="delivery-details-section">
            <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" class="form-control" id="name" v-model="customer.name">
            </div>
            <div class="form-group">
                <label for="mobile">Mobile:</label>
                <input type="text" class="form-control" id="mobile" v-model="customer.phone">
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <gmap-autocomplete class="form-control" id="address" autocomplete="disabled"
                        :value="customer.address"
                        :class="{'is-invalid': !validAddress}"
                        @place_changed="setPlace"
                        :options="{}"
                        :componentRestrictions="{country: ['ro']}">
                        :fields="['address_components']">
                </gmap-autocomplete>
                <div v-if="!validAddress" class="invalid-feedback">
                    Please provide a valid street address.
                </div>
            </div>
        </form>
    </div>

    <div class="d-block my-2">
        <h3 class="payment-method-title">Select a payment method</h3>
        <div class="custom-control custom-radio">
            <input id="card" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="card">Credit Card</label>
        </div>
    </div>

    <div class="checkout-btn">
        <router-link class="btn btn-checkout m-3" to="#">Checkout</router-link>
    </div>
</div>
