<div class="container-fluid">
    <div>
        <div class="logo">
            <img src="../assets/logo.png">
        </div>

        <div v-if="courier" class="profile-container">
            <div class="row">
                <div class="profile-photo mr-4 ml-4">
                    <img src="../assets/profile_logo.png" alt="">
                </div>
                <div class="profile-details">
                    <p>{{ courier.name }} {{ courier.surname }}</p>
                    <p>{{ courier.gender }}</p>
                    <p>Mobile: {{ courier.phone }}</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-lg-2">
                <h4>Courier availability:</h4>
            </div>
            <div class="col-3">
                <toggle-button @change="toggleMapVisibility" :value="mapVisibility"/>
            </div>
        </div>

        <div v-if="orderData" class="mt-5 mb-5">
            <div>
                <h4>Notification center</h4>
                <p>Delivery address:</p>
                <p>{{ orderData.details.address }}</p>
                <p>Contact person:</p>
                <p>{{ orderData.details.name }}, {{ orderData.details.phone }}</p>
            </div>
            <div v-if="">
                <a href="#" class="btn btn-primary" v-on:click="acceptOrder()">Accept order</a>
                <a href="#" class="btn btn-danger" v-on:click="rejectOrder()">reject</a>
            </div>
        </div>

        <gmap-map
                :center="{lat:44.453, lng:26.073}"
                :zoom="19"
                map-type-id="terrain"
                style="width: 100%; height: 400px"
        >
        </gmap-map>
    </div>
</div>
