<div>
    <nav class="navbar navbar-expand-sm">
        <ul class="steps">
            <li v-for="step in 5" class="step"
                v-bind:class="{active: currentStep === step }"
                v-bind:key="step">
            </li>
        </ul>
    </nav>

    <div class="container col-md-6 col-sm-8 col-xs-4 col-lg-6">
        <div v-if="currentStep === 1">
            <h3>Add your personal details</h3>

            <form>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" v-model="courier.name">
                </div>
                <div class="form-group">
                    <label for="surname">Surname:</label>
                    <input type="text" class="form-control" id="surname" v-model="courier.surname">
                </div>
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="text" class="form-control" id="email" v-model="courier.email">
                </div>
                <div class="form-group">
                    <label for="phone">Mobile:</label>
                    <input type="text" class="form-control" id="phone" v-model="courier.phone">
                </div>
                <div class="form-group">
                    <label for="gender">Sex:</label>
                    <select class="form-control" id="gender" name="gender" v-model="courier.gender">
                        <option>male</option>
                        <option>female</option>
                    </select>
                </div>
                <div class="text-center m-4">
                    <a class="btn btn-primary" v-on:click="nextStep(2)">Continue</a>
                </div>
            </form>
        </div>

        <div v-else-if="currentStep === 2">
            <div class="text-center">
                <img class="profile-picture" src="../assets/profile_logo.png" alt="" width="150">
                <div class="actions">
                    <span>Take new photo</span>
                    <span>Upload photo</span>
                </div>
                <a class="btn btn-primary" v-on:click="nextStep(3)">Continue</a>
            </div>
        </div>

        <div v-else-if="currentStep === 3">
            <h3>Scan your ID</h3>
            <div class="text-center">
                <img src="../assets/id_placeholder.png" alt="">
            </div>
            <div class="text-center">
                <a class="btn btn-primary" v-on:click="nextStep(4)">Continue</a>
            </div>
        </div>

        <div v-else-if="currentStep === 4">
            <h3>Choose your vehicle type</h3>

            <ul class="vehicle-types">
                <li v-bind:class="{active: vehicleType === '1' }" v-on:click="vehicleType = '1'">
                    <img src="../assets/bicycle.png" alt="">
                    <span>Bicycle</span>
                </li>
                <li v-bind:class="{active: vehicleType === '2' }" v-on:click="vehicleType = '2'">
                    <img src="../assets/walking.png" alt="">
                    <span>Walking / Public transportation</span>
                </li>
                <li v-bind:class="{active: vehicleType === '3' }" v-on:click="vehicleType = '3'">
                    <img src="../assets/car.png" alt="">
                    <span>Personal car</span>
                </li>
            </ul>

            <div class="text-center mt-5">
                <a class="btn btn-primary"
                   v-on:click="nextStep(5)"
                   v-bind:class="{disabled: vehicleType === null }">Continue</a>
            </div>
        </div>

        <div v-else-if="currentStep === 5">
            <h3>Confirmation</h3>
            <div class="profile-container">
                <div class="row">
                    <div class="profile-photo col-5">
                        <img src="../assets/profile_logo.png" alt="">
                    </div>
                    <div class="profile-details col-5">
                        <p>{{ courier.name }} {{ courier.surname }}</p>
                        <p>{{ courier.gender }}</p>
                        <p>Mobile: {{ courier.phone }}</p>
                        <p>{{ courier.email }}</p>
                        <a href="#" class="profile-edit" v-on:click="nextStep(1)">edit</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="profile-vehicle">
                <img alt="" :src="getImgUrl(vehicleType)"> <span>{{ getVehicleName(vehicleType) }}</span>
            </div>

            <div class="text-center">
                <a class="btn btn-primary" v-on:click="save()">Save account</a>
            </div>
        </div>
    </div>
</div>
