 <div class="account-creation">
  <div class="container col-md-6 col-sm-8 col-xs-4 col-lg-6 text-left">
    <h3>Add your personal details</h3>
    <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" v-model="client.name">
      </div>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="text" class="form-control" id="email" v-model="client.email">
      </div>
      <div class="text-center m-4">
        <a class="btn btn-primary" v-on:click="register()">Login</a>
      </div>
    </form>
  </div>
 </div>
