.btn-checkout {
    background-color: #f62a24;
    border-color: #f62a24;
    color: #ffffff;
}
.btn-checkout:hover {
    background-color: #cc1400;
    border-color: #cc1400;
    color: #ffffff;
}
.delivery-details-section {
    text-align: left;
}
