.container-fluid {
    text-align: left;
    padding: 20px
}

.logo img {
    width: 200px
}

.profile-container {
    margin: 30px 0;
    font-size: 16px
}

.profile-container p {
    margin: 0
}

.profile-photo {
    width: 100px;
    float: left;
}

.profile-photo img {
    width: inherit;
}

.profile-details {
    position: relative;
    float: left;
}

.profile-vehicle {
    margin-top: 30px;
}

.profile-vehicle img {
    width: 30px;
}
