.steps {
    list-style-type: none;
    width: 300px;
    margin: 0 auto 20px;
    padding: 0;
    position: relative;
}

.steps:before {
    width: 279px;
    height: 2px;
    background-color: #F6E200;
    display: block;
    content: "";
    position: absolute;
    margin: 20px auto;
    left: 0;
    right: 0;
    top: 0;
}

.step {
    width: 40px;
    height: 40px;
    background-color: #f6f1b4;
    border-radius: 50%;
    float: left;
    margin: 0 10px;
    position: relative;
    z-index: 2
}

.step.active {
    background-color: #F6E200;
}

.container {
    text-align: left;
}

.actions {
    margin: 20px 0 70px
}

.actions span {
    display: inline;
    margin: 0 30px
}

.vehicle-types {
    list-style-type: none;
}

.vehicle-types li {
    margin: 20px 0;
    font-size: 20px;
    padding: 10px;
    height: 60px;
    line-height: 40px;
}

.vehicle-types li.active {
    background-color: #F6E200;
    border-radius: 3px;
}

.vehicle-types img {
    width: 30px;
    margin-right: 25px
}

.profile-container {
    margin: 30px 0
}

.profile-photo {
    width: 130px;
}

.profile-photo img {
    width: 100%;
}

.profile-details {
    position: relative;
}

.profile-vehicle {
    margin-top: 30px;
}

.profile-vehicle img {
    width: 30px;
}

.profile-edit {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px
}
