<template src="../templates/Checkout.html"></template>

<script>
export default {
  name: 'Checkout',
  data () {
    return {
      product: null,
      customer: {
        name: '',
        phone: '',
        address: ''
      },
      validAddress: true
    }
  },
  methods: {
    setPlace: function (place) {
      let components = place.address_components.slice(0, 4)
      let address = ''
      for (let component in components.slice(0, 4)) {
        address += ' ' + components[component].long_name
      }

      let data = {
        products: [1],
        address: {
          lat: place.geometry.location.lat(),
          long: place.geometry.location.lng()
        },
        details: {
          name: this.customer.name,
          phone: this.customer.phone,
          address: address
        }
      }

      this.$socket.emit('get_available_couriers', data)
    }
  }
}

</script>

<style src="../styles/Checkout.css"></style>
