<template src="../templates/Courier.html"></template>
<style scoped src="../styles/Courier.css"></style>

<script>
import { bus, SOCKET_LISTEN_STATE } from '../main'

export default {
  name: 'Courier',
  data () {
    return {
      courier: null,
      mapVisibility: true,
      orderData: null
    }
  },
  methods: {
    toggleMapVisibility: function () {
      this.mapVisibility = !this.mapVisibility
      bus.$emit('toggle_socket_state', !SOCKET_LISTEN_STATE)
    },
    acceptOrder: function () {
      this.$socket.emit('order_accepted')
    },
    rejectOrder: function () {
      this.orderData = null
      this.$socket.emit('order_rejected')
    }
  },
  created () {
    let courierData = localStorage.getItem('courierData')
    let courierId = localStorage.getItem('courierId')
    if (courierData) {
      this.courier = JSON.parse(courierData)
    }

    bus.$on('get_location', value => {

      let pos = {
        lat: 44.453,
        lng: 26.073
      }

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
          pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          }
        }, function() {
          console.log('navigator.geolocation error')
        });
      }

      this.$socket.emit('courier_location', {
        lat: pos.lat,
        lng: pos.lng,
        data: value,
        courierId: courierId
      })
    })

    bus.$on('new_order_request', data => {
      this.orderData = data.order.data.order
    })
  }
}
</script>
