<template>
    <transition>
        <div :class="loaderState">
            <img src="../assets/logo.png">
        </div>
    </transition>
</template>

<script>
import { bus } from '../main'

export default {
  name: 'LoadingScreen',
  data () {
    return {
      loaderState: 'loader active'
    }
  },
  created () {
    setTimeout(() => {
      this.loaderState = 'loader'
      bus.$emit('app-loaded', true)
    }, 2000)
  }
}
</script>

<style scoped>
    .loader {
        display: none;
    }
    .loader.active {
        margin: auto;
        position: absolute;
        top: -100px;
        left: 0;
        right: 0;
        bottom: 0;
        height: 65px;
        display: block
    }
</style>
