<template>
  <div v-if="appLoaded" class="welcome-container">
    <div class="logo-container">
      <h2>{{ greeting }}</h2>
      <img src="../assets/logo.png">
      <p>{{ account }}</p>
    </div>
    <div class="btn-group-toggle" data-toggle="buttons">
      <div class="create-account-btn">
        <router-link class="btn btn-primary" to="/courier/register">{{ create }}</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { bus } from '../main'

export default {
  name: 'Main',
  data () {
    return {
      greeting: 'Welcome to',
      account: 'Create your courier account now.',
      create: 'Create account',
      appLoaded: false
    }
  },
  created () {
    bus.$on('app-loaded', value => {
      this.appLoaded = value
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .welcome-container {
    height: 300px;
    margin: 130px auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 300px;
  }
  .logo-container {
    display: block;
    box-sizing: border-box;
  }
  h1, h2 {
    font-weight: 900;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  p {
    font-weight: 400;
    margin-top: 6px;
    margin-bottom: 12px;
  }
  .login-btn {
    margin: auto;
    padding: 5px;
    display: block;
    box-sizing: border-box;
  }
  .create-account-btn {
    margin: auto;
    padding: 5px;
    display: block;
    box-sizing: border-box;
  }
</style>
