<template src="../templates/Register.html"></template>
<style scoped src="../styles/Register.css"></style>

<script>
import { bus } from '../main'

export default {
  name: 'Register',
  data () {
    return {
      steps: 5,
      currentStep: 1,
      vehicleType: null,
      courier: {
        name: '',
        surname: '',
        email: '',
        phone: '',
        gender: ''
      }
    }
  },
  created: function () {
    let courierData = localStorage.getItem('courierData')
    if (courierData) {
      courierData = JSON.parse(courierData)
      this.courier = courierData
      this.vehicleType = courierData.vehicleType
    }

    bus.$on('add_courier', value => {
      this.$socket.emit('join', {
        room: 'order_requests_' + value.courierId
      })
      localStorage.setItem('courierId', value.courierId)

      this.$router.push({ path: '/courier/dashboard' })
    })
  },
  methods: {
    nextStep: function (step) {
      this.currentStep = step
    },
    getImgUrl: function (vehicleType) {
      if (!vehicleType) {
        return
      }

      let mapping = {
        '1': 'bicycle',
        '2': 'walking',
        '3': 'car'
      }

      var images = require.context('../assets/', false, /\.png$/)
      return images('./' + mapping[vehicleType] + '.png')
    },
    getVehicleName: function (vehicleType) {
      if (!vehicleType) {
        return
      }

      let mapping = {
        '1': 'Bicycle',
        '2': 'Walking / Public transportation',
        '3': 'Personal car'
      }

      return mapping[vehicleType]
    },
    save: function () {
      let data = this.courier
      data.vehicleType = this.vehicleType
      data.sessId = parseInt(Math.random() * 10000)

      // send socket request
      this.$socket.emit('join', {
        room: 'add_courier_sess_' + data.sessId
      })
      this.$socket.emit('save_courier', data)
      // save data
      localStorage.setItem('courierData', JSON.stringify(data))
    }
  }
}
</script>
