<template src="../templates/RegisterClient.html"></template>

<script>
export default {
  name: 'RegisterClient',
  data () {
    return {
      client: {
        name: '',
        email: ''
      }
    }
  },
  methods: {
    register: function () {
      this.$socket.emit('customer_login', this.client)

      this.$router.push({ path: '/client/checkout' })
    }
  }
}
</script>
