<template>
  <div id="app">
    <loading-screen v-if="canShowLoadingScreen()"></loading-screen>
    <router-view/>
  </div>
</template>

<script>
import LoadingScreen from './components/LoadingScreen'

export default {
  name: 'App',
  components: {LoadingScreen},
  methods: {
    canShowLoadingScreen: function () {
      return this.$route.name === 'Main'
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
  margin-bottom: 30px
}

#app * {
  transition: all 0.2s linear;
}

/* bootstrap overrides below */
.btn {
  border-radius: 2px;
  padding: 10px 30px;
  font-size: 22px;
  min-width: 200px;
  max-width: 200px;
  overflow: hidden;
}
.btn-primary {
  background-color: #F6E200;
  border-color: #f6d238;
  color: #000;
}
.btn-primary:hover {
  background-color: #f6c717;
  border-color: #f6c446;
  color: #000;
}
.btn-primary.disabled {
  background-color: #f6f1b4;
  border-color: #f6f1b4;
  color: #000;
}
</style>
